body{
    background-color: black;
}
.Clock{
    position:absolute;
    color:lime;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: orbitron;
font-size: 60px;
}